  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

 body {
   background-color: #8000ff55;
    width: 100%;
    min-height: 100vh;
    position: relative;
  }
 
  h1 {
    font-size: 3.2em;
    line-height: 1.1;
  }
  